body {
    line-height: 1.25;
    background-color: #F5EFE6;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
}

/* .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding: 10px;
} */

ul.nav_links {
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
}

.nav_item a {
    color: #3C2317;
    text-decoration: none;
}

.nav_item a:hover,
a:focus {
    text-decoration: overline;
    text-decoration-thickness: 5px;
    text-decoration-color: #628E90;
    outline: none;
}

.nav_item a:focus {
    text-decoration: overline;
    text-decoration-thickness: 5px;
    text-decoration-color: #628E90;
    outline: none;
}

h1 {
    /*Set font and font size*/
    font-family: Raleway, Anton, 'Times New Roman', Arial;
    font-size: 65px;
    color: #3C2317;
    font-weight: 700;
}

h2 {
    font-size: 45px;
    font-family: Raleway, Anton, 'Times New Roman', Arial;
    text-align: center;
    color: #3C2317;
    font-weight: 600;
    padding: 15px;
    margin: 5px;
}

h3 {
    /*Set font size*/
    font-size: 35px;
    color: #628E90;
}

h1,
h2,
h3 {
    /*Set margin */
    margin: 4%;

}

.skip {
    position: absolute;
    left: -1000px;
}

.skip:focus {
    left: 10px;
    top: 15px;
}

.grid {
    /*Set width, margin, border properties, background color, and grid properties */
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    grid-template-columns: 25% 25% 25%;
    grid-row-gap: 5%;
    grid-column-gap: 5%;
    /* background-color: #86A3B8; */
}

.grid div {
    /* Set border properties, padding, and background color */
    /* background-color: #86A3B8; */
    padding: 8px;
    border: 3px solid #000000;
    background-color: #FFFFFF;
}

.grid img {
    /* Set width, margin, and display */
    min-width: 95%;
    justify-content: center;
    /* display: inline-block; */
    margin: 2%;
    padding: 5px;
    border-radius: 100px 5px;
    border: 1.5px solid black;
}

/* .grid div:nth-child(1) {
    /* Set box shadow */
/* box-shadow: 10px 0 5px rgb(0 0 0 / 0.3); */
border-radius: 100px 0 0 0;
}

.grid div:nth-child(19) {
    border-radius: 0 0 0 100px;
}

.grid div:nth-child(3) {
    border-radius: 0 100px 0 0;
}

*/ p+p {
    /* Set indentation */
    text-indent: 4.5%;
    /* padding-left: 1%; */
}

p {
    /* Set margin */
    margin: 3%;
    padding: 2%;
    color: #00425A;
}

.grid ul li {
    /* Set margin, line-spacing, list styling  */
    line-height: 1;
    list-style-image: url("../images/bookmark-solid.svg");
    margin-bottom: 3.5%;
    margin-left: 12.5%;
}

footer {
    padding: 5px 15px 5px 15px;
    margin: 20px;
    text-align: center;
}

.hero-text h1 {
    text-align: center;
    position: inherit;
    top: 40%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    color: white !important;
    padding: 15px;
}

.hero-image {
    background-image: linear-gradient(rgba(62, 62, 62, 0.5), rgba(73, 72, 72, 0.65)), url("../images/women_march_pano.jpg");
    height: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


dt {
    font-family: Raleway, Anton, 'Times New Roman', Arial;
    text-align: center;
    color: #628E90;
    font-weight: bold;
}

dt>h2 {
    font-weight: 600;
}

dd {
    font-size: 25px;
}

dd>h3 {}