body {
    padding: 10px;
    background-color: #470D21;
    font-size: 125%;
    font-family: 'Raleway', sans-serif;
}

h1 {
    color: #9C0F48;
    font-size: 200%;
    font-style: bold;
    padding: 10px;
}

h2 {
    color: #D67D3E;
    font-size: 120%;
    font-style: bold;
    padding: 10px;
}

h3 {
    color: #D67D3E;
    font-size: 100%;
    font-style: bold;
    padding: 10px;
}

h4 {
    color: #D67D3E;
    font-size: 90%;
    font-style: bold;
    padding: 10px;
}

p {
    color: #F9E4D4;
    font-size: 80%;
    padding: 8px;
    line-height: 1.25;
}

img {
    width: 45%;
    padding: 15px;
    margin: 5px 10px 20px 15px;
    border: solid #F9E4D4 2px;
}

footer>p {
    font-size: 80%;
    padding: 8px;
}

a:hover {
    color: white;
    background-color: #F9E4D4;
}

a {
    color: #F9E4D4;
    font-style: bold;
    text-decoration: underline;

}

footer {
    font-size: 75%;
    padding: 10px;
}

ul {
    color: #F9E4D4;
    padding-left: 25px;
    font-size: 80%;
}

nav li {
    display: inline-block;
    margin: 5px;
    padding-right: 20px;
}

.active {
    color: #F9E4D4;
    background-color: #400E32;
    border: dashed 3px;
    padding: 4px;
}

.skip {
    position: absolute;
    left: -1000px;
}

.skip:focus {
    left: 15px;
}

dt {
    color: #181D31;
    line-height: 2;
    font-size: 80%;
    padding: 8px;
}

dd {
    font-size: 60%;
    padding: 8px;
}